:root{
    --button:#0077ff;
    --colorbutton:#ffffff;
    --header:#ffffff;
    --bkbody:#e2e0e0;
    --input:#f8f8f84b;
    --linkcolor:#111;
    --scrollbutton:#2222222a;
    --table:#ffffff63;
    --tabcolor:#033a79;
    --logo:#0065a4;
}
*{
    padding: 0;
    margin: 0;
}
.basket .card{
    width: 800px;
    background-color: var(--header);
    border-radius:5px;
    padding-top: 20px;
}
.basket .card img{
    width: 150px;
    height: 150px;
}
.basket .card .head_card{
    margin-right: 30px;
}
.basket .card .prodact_baskte{
    width: 800px;
    height: 200px;
    display: flex;
    margin-top: 20px;   
    justify-content: center;
    gap: 50px;
   
}
.prodact_baskte .text ,.price,.img{
    margin-top: 40px;
}
.basket .card .foot_card button{
    border: none;
    width: 100px;
    height: 30px;
    background-color: var(--button);
    color: var(--colorbutton);
    border-radius: 10px;
    font-weight: bold;
    margin-right: 40px;
    margin-bottom: 20px;
}
.total_price {
    width: 300px;
    height: 200px;
    background-color: var(--header);
    border-radius:5px;
}
.head_total{
    margin-top: 20px;
    margin-right: 20px;
}
.price_totul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.button_total{
    text-align: center;
    margin-top: 20px;
}
.button_total button{
    border: none;
    width: 150px;
    height: 30px;
    background-color: var(--button);
    color: var(--colorbutton);
    border-radius: 10px;
    font-weight: bold;

}